.title_link{
    color: #ffffff !important;
    font-family: 'Reem Kufi', sans-serif !important;
    font-weight: lighter;
}
.title_link:hover {
    color: #ee3748 !important;
}

.bg-info{
    background-color:#ee3748 !important;
    color:#eaf6f9;
}
.border_cust {
    border: 1px solid #e7e7e7;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.logo {
    float: none !important;
    margin: 0 auto !important;
}
.logo img {
    width: 200px;
    height: auto;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
}

.cust_btn {
    padding: 10px 15px 10px 15px;
    color: #ffffff !important;
    font-family: 'Reem Kufi', sans-serif !important;
    border-radius: 3px;
    font-weight: bold;
    background-color:#ff424f !important;
    border: 1px solid #ff424f !important;
}
.cust_btn:hover {
    background: none !important;
    border: 1px solid #ff424f !important;
    color: #ff424f !important;
}
.cust_btn_inverse {
    padding: 10px 15px 10px 15px;
    color: #ffffff !important;
    font-family: 'Reem Kufi', sans-serif !important;
    border-radius: 3px;
    font-weight: bold;
    background: none;
    border: 1px solid #ffffff !important;
}
.cust_btn_inverse:hover {
    background: none !important;
    border: 1px solid #ff424f !important;
    color: #ff424f !important;
}